<p id="notice"><%= notice %></p>

<h1>Irisorders</h1>

<div class="grid">
  <%= @workorders.each do |technician| %>
    <div class="grid-template-columns">
        <span>Technician Name: <%= technician.technician.name %></span>
    </div>
  <% end %>
</div>


<br>

